<h2>Página Home</h2>
<h4>O nome {{user.name}} {{user.surname}} e a idade é {{user.age}} anos.</h4>
<h5>{{palavra}}</h5>

{{#if auth}}
    <p>Você está logado, <a href="./dashboard">Clique aqui</a> para acessar a área de membros.</p>
{{/if}}

{{#if approved}}
    <p>Parabéns {{user.name}}, seu cadastro foi aprovado.</p>
{{else}}
    <p>{{user.name}} {{user.surname}}, seu cadastro precisa de aprovação.</p>
{{/if}}