<h2>Página home</h2>
<h4>Nome {{user.name}} {{user.surname}} e idade {{user.age}}</h4>
<h5>{{palavra}}</h5>
{{#if auth}}
    <p>Você está logado, <a href="./dashboard">Click aqui</a> para acessar a area para membros</p>
{{/if}}

{{#if appreved}}
    <p>Parabens1 seu cadastro foi aprovado</p>
{{else}}
    <p>Seu cadastro precesa de aprovação</p>
{{/if}}